{
  "comments": false,
  "presets": [["@babel/preset-env", {
    "targets": "last 2 versions"
  }]],
  "env": {
    "dist": {
      "presets": [["@babel/preset-env", {
        "modules": false
      }]]
    },
    "test": {
      "presets": [["@babel/preset-env", {
        "modules": "commonjs"
      }]]
    }
  }
}
