article
  h2 Shader

  h4 Example

  Controls(:inline="true" route="/shader/fullscreen")
    Example
    h5(slot="filename") shader.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/shader/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/shader/template
    pre(slot="script")
      include:hl(lang="javascript") ../../examples/shader/index.js

  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/shader/docs.md
