Scene(@complete="complete" @before-render$="alpha += 0.01")
  HemisphericLight(:direction="[0, 1, 0]")
  Camera(type="follow" :radius="30" :position="[0, 10, -10]")
    Property(name="rotationOffset" :float="rotationOffset")
    Property(name="heightOffset" :float="10")
    Property(name="maxCameraSpeed" :float="10")
    Property(name="cameraAcceleration" :float="0.005")
    Property(name="lockedTarget" :any="box")
  Box(v-model="box" :options="{ size: 2, faceUV }" :position="boxPosition")
    Material(diffuse="#88F")
      Texture(:src="sprite")
