article
  a(name="top")
  h1 Vue-BabylonJS

  .logo.shadow-dark
    Controls(:inline="true" route="/home/fullscreen")
      Logo
      h5(slot="filename") logo.vue
      pre(slot="pug")
        include:hl(lang="pug") ./example/template
      pre(slot="html")
        include:hl:pug(pretty=true) ./example/template
      h5(slot="filename2") side.vue
      pre(slot="pug2")
        include:hl(lang="pug") ./example/side/template
      pre(slot="html2")
        include:hl:pug(pretty=true) ./example/side/template

  h2 Getting Started and Installation
  external(href="https://github.com/Beg-in/vue-babylonjs") See README

  // h2 Table of Contents
  // h3 Important Things to Know
  // p
  //   ul
  //     li
  //       a(href="#docs") Types for props (attributes)
  //     li
  //       a(href="#docs") Retrieving BabylonJS Objects
  // h3 API Documentation
  // p
  //   ul
  //     li
  //       a(href="#animation") Animation
  //     li
  //       a(href="#camera") Camera
  //     li
  //       a(href="#entity") Entity
  //     li
  //       a(href="#light") Light
  //     li
  //       a(href="#material") Material
  //     li
  //       a(href="#mesh") Mesh
  //     li
  //       a(href="#physics") Physics
  //     li
  //       a(href="#scene") Scene
  //     li
  //       a(href="#shader") Shader
  //     li
  //       a(href="#texture") Texture
  //     li
  //       a(href="#util") Types

  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/docs.md
  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/camera/docs.md
  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/light/docs.md
  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/mesh/docs.md
  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/texture/docs.md
  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/util/docs.md
