article
  Controls(:inline="true" route="/home/fullscreen")
    Example
    h5(slot="filename") logo.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/logo/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/logo/template
    h5(slot="filename2") side.vue
    pre(slot="pug2")
      include:hl(lang="pug") ../../examples/logo/side/template
    pre(slot="html2")
      include:hl:pug(pretty=true) ../../examples/logo/side/template

  p
    em Create high quality 3D graphics in the web as easily as writing HTML and CSS.

  h3 Getting Started and Installation
  external(href="https://github.com/Beg-in/vue-babylonjs") See README

  include:markdown-it(plugins=['markdown-it-prism'] html=true) ../../src/docs.md
  router-link(to="/entity") See the Entity documentation for more information
