article
  Controls(:inline="true" route="/home/fullscreen")
    Example
    h5(slot="filename") logo.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/logo/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/logo/template
    h5(slot="filename2") side.vue
    pre(slot="pug2")
      include:hl(lang="pug") ../../examples/logo/side/template
    pre(slot="html2")
      include:hl:pug(pretty=true) ../../examples/logo/side/template

  include:markdown-it(plugins=['markdown-it-prism'] html=true) ../../src/docs.md
