// mixin markdown
  include:markdown-it(plugins=['markdown-it-highlightjs'])
// +markdown
  include ../../README.md

article
  include:markdown-it(plugins=['markdown-it-highlightjs']) ../../lib/docs.md
  include:markdown-it(plugins=['markdown-it-highlightjs']) ../../lib/scene/docs.md
