pre
  // pre(v-show="pug")
    :highlight(lang="html")
      <template lang="pug">
  // pre(v-show="!pug")
    :highlight(lang="html")
      <template>
  code(v-show="pug")
    slot(name="vuepug")
  code(v-show="!pug")
    slot(name="vuehtml")
  // pre
    :highlight(lang="html")
      </template>
  // pre(v-if="$slots.script")
    :highlight(lang="html")
      <script>
  // template(v-if="$slots.vuescript")
    slot(name="vuescript")
  // pre(v-if="$slots.vuescript")
    :highlight(lang="html")
      </script>
