article
  h2 Material

  h4 Example

  Controls(:inline="true" route="/material/fullscreen")
    Example
    h5(slot="filename") material.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/material/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/material/template

  include:markdown-it(plugins=['markdown-it-prism']) ../../src/material/docs.md
