Scene
  Camera(type="arcRotate")
  HemisphericLight(diffuse="#FFFFFF")
  Entity(:position="[0, 0, 0]" :scaling="[0.26,0.26,0.26]")
    HemisphericLight(diffuse="#FFFFFF")
    Sphere(v-for="(position, key) in spheres" :key="key" :position="position") 
      Animation(property="scaling.x" :duration="5" :end="5" :start="1")
        Key(frame="0%" :value="1")
        Key(frame="50%" :value="5")
        Key(frame="100%" :value="1")
      Animation(property="scaling.y" :duration="5" :end="5" :start="1")
        Key(frame="0%" :value="1")
        Key(frame="50%" :value="5")
        Key(frame="100%" :value="1")
      Animation(property="scaling.z" :duration="5" :end="5" :start="1")
        Key(frame="0%" :value="1")
        Key(frame="50%" :value="5")
        Key(frame="100%" :value="1")
      Material(emissive="#FCFF6D")    
    Entity(:position="[5, 5, 5]")    
      Animation(property="rotation.x" :duration="6" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.y" :duration="6" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.z" :duration="6" :end="Math.PI * 2" :start="0")
      Box(v-for="(position, key) in boxes" :key="key" :position="position")
        Animation(property="scaling.x" :duration="3" :end="3" :start="0.5")
          Key(frame="0%" :value="1")
          Key(frame="50%" :value="3")
          Key(frame="100%" :value="1")
        Animation(property="scaling.y" :duration="3" :end="3" :start="0.5")
          Key(frame="0%" :value="1")
          Key(frame="50%" :value="3")
          Key(frame="100%" :value="1")
        Animation(property="scaling.z" :duration="3" :end="3" :start="0.5")
          Key(frame="0%" :value="1")
          Key(frame="50%" :value="3")
          Key(frame="100%" :value="1")
        Animation(property="material.diffuseColor.r" :duration="7" :end="1" :start="0")
        Animation(property="material.diffuseColor.g" :duration="3" :end="1" :start="0")
        Animation(property="material.diffuseColor.b" :duration="5" :end="1" :start="0")
        Material(diffuse="#f6adf7")    
        
    Entity(:position="[-5, -5, 5]")  
      Animation(property="rotation.x" :duration="6" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.y" :duration="6" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.z" :duration="6" :end="Math.PI * 2" :start="0")  
      Box(v-for="(position, key) in boxes2" :key="key" :position="position")  
        Animation(property="scaling.x" :duration="3" :end="3" :start="0.5")
          Key(frame="0%" :value="1")
          Key(frame="50%" :value="3")
          Key(frame="100%" :value="1")
        Animation(property="scaling.y" :duration="3" :end="3" :start="0.5")
          Key(frame="0%" :value="1")
          Key(frame="50%" :value="3")
          Key(frame="100%" :value="1")
        Animation(property="scaling.z" :duration="3" :end="3" :start="0.5")
          Key(frame="0%" :value="1")
          Key(frame="50%" :value="3")
          Key(frame="100%" :value="1")
        Animation(property="material.diffuseColor.r" :duration="5" :end="1" :start="0")
        Animation(property="material.diffuseColor.g" :duration="3" :end="1" :start="0")
        Animation(property="material.diffuseColor.b" :duration="7" :end="1" :start="0")
        Material(diffuse="#f6adf7")
        
    Entity(:position="[5, -5, -5]" )
      Animation(property="rotation.x" :duration="3" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.y" :duration="3" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.z" :duration="3" :end="Math.PI * 2" :start="0")
      Box(v-for="(position, key) in boxes3" :key="key" :position="position")
        Animation(property="scaling.x" :duration="6" :end=".5" :start="3")
          Key(frame="0%" :value=".5")
          Key(frame="50%" :value="2")
          Key(frame="100%" :value=".5")
        Animation(property="scaling.y" :duration="6" :end=".5" :start="3")
          Key(frame="0%" :value=".5")
          Key(frame="50%" :value="2")
          Key(frame="100%" :value=".5")
        Animation(property="scaling.z" :duration="6" :end=".5" :start="3")
          Key(frame="0%" :value=".5")
          Key(frame="50%" :value="2")
          Key(frame="100%" :value=".5")
        Animation(property="material.diffuseColor.r" :duration="7" :end="1" :start="0")
        Animation(property="material.diffuseColor.g" :duration="9" :end="1" :start="0")
        Animation(property="material.diffuseColor.b" :duration="5" :end="1" :start="0")
        Material(diffuse="#f6adf7")
        
    Entity(:position="[-5, 5, -5]" )  
      Animation(property="rotation.x" :duration="3" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.y" :duration="3" :end="Math.PI * 2" :start="0")
      Animation(property="rotation.z" :duration="3" :end="Math.PI * 2" :start="0")
      Box(v-for="(position, key) in boxes4" :key="key" :position="position")
        Animation(property="scaling.x" :duration="6" :end=".5" :start="3")
          Key(frame="0%" :value=".5")
          Key(frame="50%" :value="2")
          Key(frame="100%" :value=".5")
        Animation(property="scaling.y" :duration="6" :end=".5" :start="3")
          Key(frame="0%" :value=".5")
          Key(frame="50%" :value="2")
          Key(frame="100%" :value=".5")
        Animation(property="scaling.z" :duration="6" :end=".5" :start="3")
          Key(frame="0%" :value=".5")
          Key(frame="50%" :value="2")
          Key(frame="100%" :value=".5")
        Animation(property="material.diffuseColor.r" :duration="9" :end="1" :start="0")
        Animation(property="material.diffuseColor.g" :duration="5" :end="1" :start="0")
        Animation(property="material.diffuseColor.b" :duration="7" :end="1" :start="0")
        Material(diffuse="#f6adf7")
    
    
