Scene
  Camera
  HemisphericLight(diffuse="#0000FF")
  Entity(:position="[0, 0, 5]")
    Animation(property="rotation.x" :duration="5")
      Key(frame="0%" :value="0")
      Key(frame="100%" :value="Math.PI * 2")
    Animation(property="rotation.y" :duration="5" :end="Math.PI * 2")
    Animation(property="rotation.z" :duration="5" :end="Math.PI * 2")
    PointLight(diffuse="#FF0000")
    Box(v-for="(position, key) in boxes" :key="key" :position="position")
