Scene
  Camera(type="arcRotate" :radius="20")
  DirectionalLight(v-model="myLight")
  HemisphericLight(emissive="#008800")
  PointLight(specular="#0F0")

  Entity (v-model="myEntity2" :position="[6, 0, 0]")
    Box(:position="[-3,3,3]")
    Box(:position="[-9,3,3]")
    Box(:position="[-3,-3,3]")
    Box(:position="[-9,-3,3]")
    Box(:position="[-3,3,-3]")
    Box(:position="[-3,-3,-3]")
    Box(:position="[-9,3,-3]")
    Box(:position="[-9,-3,-3]")
    
    Entity (v-model="myEntity21" :position="[6, 0, 0]")
      Animation(property="rotation.x" :duration="5")
        Key(frame="0%" :value="0")
        Key(frame="100%" :value="Math.PI * 2")
      Box(:position="[-4,2,2]")
        Material(diffuse="#00F")
      Box(:position="[-4,-2,2]")
        Material(diffuse="#00F")
      Box(:position="[-8,2,2]")
        Material(diffuse="#00F")
      Box(:position="[-8,-2,2]")
        Material(diffuse="#00F")
      Box(:position="[-4,2,-2]")
        Material(diffuse="#00F")
      Box(:position="[-4,-2,-2]")
        Material(diffuse="#00F")
      Box(:position="[-8,2,-2]")
        Material(diffuse="#00F")
      Box(:position="[-8,-2,-2]")
        Material(diffuse="#00F")

  Entity (v-model="myEntity1" :position="[7, 0, 0]")
    Animation(property="rotation.x" :duration="5")
      Key(frame="0%" :value="0")
      Key(frame="100%" :value="Math.PI * 2")
    PointLight(diffuse="#FF0000")
    Box(:position="[10,3,3]")
    Box(:position="[4,3,3]")
    Box(:position="[10,-3,3]")
    Box(:position="[4,-3,3]")
    Box(:position="[10,3,-3]")
    Box(:position="[4,-3,-3]")
    Box(:position="[4,3,-3]")
    Box(:position="[10,-3,-3]")
    Entity (v-model="myEntity11" :position="[7, 0, 0]")
      Box(:position="[9,2,2]")
        Material(diffuse="#00F")
      Box(:position="[9,-2,2]")
        Material(diffuse="#00F")
      Box(:position="[5,2,2]")
        Material(diffuse="#00F")
      Box(:position="[5,-2,2]")
        Material(diffuse="#00F")
      Box(:position="[9,2,-2]")
        Material(diffuse="#00F")
      Box(:position="[9,-2,-2]")
        Material(diffuse="#00F")
      Box(:position="[5,2,-2]")
        Material(diffuse="#00F")
      Box(:position="[5,-2,-2]")
        Material(diffuse="#00F")



