Scene
  Camera(type="arcRotate")
  PointLight(:position="[0,1,0]", specular="#FF0000")
  IcoSphere(:position="[-3.3,1,0]")
    Material(diffuse="#FFFF33")
  IcoSphere(:position="[3.3,1,0]")
    Material(diffuse="#7FFF00")



