Scene
  Camera(type="arcRotate")
  PointLight(:position="[0,0,0]", specular="#FF0000")
  Sphere(:position="[-1.3,0,0]")
    Material(diffuse="#FFFF33")
  Sphere(:position="[1.3,0,0]")
    Material(diffuse="#7FFF00")



