Scene
  Camera(type="arcRotate")
  PointLight(:position="[0, 2, -1]")
  Sphere(:position="[-2, 0, 0]")
    Material(diffuse="#00F")
  Cylinder(:position="[0, 0.5, 0]")
    Material(emissive="#008800")
  Box(:position="[2, 0, 0]")
    Material(diffuse="#F00" :metallic="0" :roughness="1")
