Scene
  Camera(type="arcRotate" :radius="10" :beta="Math.PI / 4")
  HemisphericLight
    property(name="intensity" :float="2")
  Ground(:options="{ width: 10, height: 10 }")
    Physics
  Entity(v-for="(_, i) in Array(81).fill()"
      :key="i"
      :position="[(i % 3) - 1, 2 + Math.floor(i / 9), (Math.floor(i / 3) % 3) - 1]"
      :scaling="[1, 1, 0.3]")
    Physics(:mass="1")
    Entity(:scaling="[1, 1, 1 / 0.3]")
      LogoSide
      Entity(:scaling="[-1, 1, 1]")
        LogoSide
