article
  h2 Scene

  h4 Example

  Controls(:inline="true" route="/scene/fullscreen")
    Example
    h5(slot="filename") scene.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/scene/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/scene/template

  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/scene/docs.md
