Scene
  Property(name="clearColor" color="#FFF")
  Camera(type="arcRotate")
  HemisphericLight
    property(name="intensity" :float="2")
  Entity(:scaling="[5, 5, 5]")
    Animation(property="rotation.y" :duration="5" :end="-Math.PI * 2")
    Side
    Entity(:scaling="[-1, 1, 1]")
      Side
