$base:    #282c34
$mono-1:  #abb2bf
$mono-2:  #818896
$mono-3:  #5c6370
$hue-1:   #56b6c2
$hue-2:   #61aeee
$hue-3:   #c678dd
$hue-4:   #98c379
$hue-5:   #e06c75
$hue-5-2: #be5046
$hue-6:   #d19a66
$hue-6-2: #e6c07b

ul
  list-style-type: disc

code
  border-radius: 3px
  background: $base

*:not(pre) > code
  background-color: $mono-1
  color: $base
  padding: 1px 5px

pre code
  display: block
  overflow-x: auto
  padding: 0.5em
  color: $mono-1
  background: $base

.hljs-comment,
.hljs-quote
  color: $mono-3
  font-style: italic

.hljs-doctag,
.hljs-keyword,
.hljs-formula
  color: $hue-3

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst
  color: $hue-5

.hljs-literal
  color: $hue-1

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string
  color: $hue-4

.hljs-built_in,
.hljs-class .hljs-title
  color: $hue-6-2

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number
  color: $hue-6

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title
  color: $hue-2

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold

.hljs-link
  text-decoration: underline

table
  border-collapse: collapse
  width: 100%

  th, td
    padding: 15px 5px
    text-align: left

  td
    border-bottom: 2px solid $gray-lighter
