main
  header(@mouseover="header = true"
        @mouseleave="header = false")
    transition
      .content(v-show="header || menu")
        .bar
          router-link.home(to="home") Vue-BabylonJS
          .hamburger(@click.prevent="menu = !menu")
            div
            div
            div
        nav(v-show="menu")
          ul(@click="menu = false")
            router-link(tag="li" to="scene")
              a Scene
            router-link(tag="li" to="animation")
              a Animations
            router-link(tag="li" to="material")
              a Materials
            router-link(tag="li" to="shader")
              a Shaders
            router-link(tag="li" to="properties")
              a Properties
            router-link(tag="li" to="physics")
              a Physics
  router-view
