Scene
  HemisphericLight(diffuse="#0000FF")
  Entity(:position="[0, 2, 15]")
    PointLight(diffuse="#FF0000")
    Box(:position="[0, 0, 0]")
    Box(:position="[0, 0, 4]")
    Box(:position="[0, 0, -4]")
    Box(:position="[0, 4, 0]")
    Box(:position="[0, -4, 0]")
    Box(:position="[0, 4, 4]")
    Box(:position="[0, 4, -4]")
    Box(:position="[0, -4, 4]")
    Box(:position="[0, -4, -4]")
    Box(:position="[4, 0, 0]")
    Box(:position="[-4, 0, 0]")
    Box(:position="[4, 0, 4]")
    Box(:position="[4, 0, -4]")
    Box(:position="[-4, 0, 4]")
    Box(:position="[-4, 0, -4]")
    Box(:position="[4, 4, 0]")
    Box(:position="[4, -4, 0]")
    Box(:position="[-4, 4, 0]")
    Box(:position="[-4, -4, 0]")
    Box(:position="[4, 4, 4]")
    Box(:position="[4, 4, -4]")
    Box(:position="[4, -4, 4]")
    Box(:position="[4, -4, -4]")
    Box(:position="[-4, 4, 4]")
    Box(:position="[-4, 4, -4]")
    Box(:position="[-4, -4, 4]")
    Box(:position="[-4, -4, -4]")
