article
  h2 Property

  h4 Example

  Controls(:inline="true" route="/property/fullscreen")
    Example
    h5(slot="filename") properties.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/property/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/property/template

  include:markdown-it(plugins=['markdown-it-prism']) ../../src/property/docs.md
