article
  h2 Animations

  h4 Example

  Controls(:inline="true" route="/animations/fullscreen")
    Example
    h5(slot="filename") animation.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/animation/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/animation/template
    pre(slot="script")
      include:hl(lang="javascript") ../../examples/animation/index.js

  include:markdown-it(plugins=['markdown-it-prism']) ../../lib/animation/docs.md
